h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inconsolata", monospace;
  color: pink;
}

h1 {
  font-size: 96px;
}

h2 {
  color: black;
}

.hero {
  background: burlywood;
  text-align: center;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 24px;
}
